/* html5 reset css file */
@import url('html5reset.css');

/* standard css for desktop browsers */
body {
  font-family: 'Lato', sans-serif;
	background-color: #f6efe5;
}

a {
  text-decoration: none;
  color: #333;
}

section#zen-intro {
  background-color: #0b2c40;
  width: 60%;
  margin: 25px 10% 0;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  text-align: center;
  float: left;
}

section#zen-intro header {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  color: #fff;
}

#zen-intro h1 {
  font-size: 50px;
  padding: 10px;
  font-weight: 100;
}

#zen-intro h2 {
  font-size: 90px;
  padding: 10px;
  font-weight: 900;
}

#zen-summary {
  color: #fff;
}

#zen-summary a {
  color: #fff;
}

#zen-summary p {
  text-transform: uppercase;
  padding: 10px;
}

#zen-preamble {
  padding: 50px 100px;
  color: #fff;
  background: linear-gradient(#0b2c40, #bdbdbd);
}

#zen-preamble h3 {
  font-size: 45px;
  font-weight: 200;
}

#zen-preamble p {
  font-size: 20px;
  font-weight: 100;
}

#zen-supporting {
  width: 60%;
  margin: 0 10% 25px;
  float: left;
  background-color: #bdbdbd;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

div[role="main"] > div[role="article"] {
  padding: 50px;
  margin: 50px 0;
}

div[role="main"] > div[role="article"]:hover {
  background-color: 
#545454;
  color: #fff;
  font-size: 1.5em;
  font-weight: 100;
}

div[role="main"] > div[role="article"]:hover a {
  color: #fff;
}

.sidebar {
  margin-top: 25px;
  margin-left: 80%;
}

div[class^="design"] h3 {
  text-align: left;
}

h3.select + nav[role="navigation"] li {
  display: block;
  background-color: #ffb732;
  margin: 10px;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  line-height: 200px;
  text-align: center;
}

h3.select + nav[role="navigation"] li:hover {
  background-color: #cc8400;
  height: 220px;
  width: 220px;
  border-radius: 110px;
  line-height: 220px;
}

#design-archives {
  margin-top: 100px;
}

#zen-resources {
  margin-top: 50px;
}

footer {
  height: 200px;
  background: linear-gradient(#bdbdbd, #f6efe5);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 0 30%;
}

footer a {
  display: inline-block;
  background-color: #000;
  color: #fff;
  margin: 10px;
  padding: 10px;
}

/* override css for mobile browsers */
@media all and (min-width:320px) and (max-width:400px) {
	body {
		font-size:1em;
	}
  
  section#zen-intro {
    width: 100%;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
    float: none;
  }
  
  section#zen-intro header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #fff;
  }
  
  #zen-intro h1 {
    font-size: 25px;
  }

  #zen-intro h2 {
    font-size: 80px;
  }
  
  #zen-preamble {
    padding: 10px;
  }
  
  #zen-supporting {
    width: 100%;
    margin: 0;
    background-color: #bdbdbd;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  div[role="main"] > div[role="article"] {
    padding: 25px;
    margin: 25px 0;
  }
  
  .sidebar {
    margin-left: 0;
    margin-bottom: 50px;
  }
  
  div[class^="design"] h3 {
    text-align: center;
  }
  
  #design-archives {
    text-align: center;
  }

  h3.select + nav[role="navigation"] li {
    background-color: #f6efe5;
    margin: 0;
    height: auto;
    width: 100%;
    border-radius: 0;
    line-height: normal;
    text-align: center;
  }
  
  h3.select + nav[role="navigation"] li:hover {
    background-color: #f6efe5;
    height: auto;
    width: 100%;
    border-radius: 0;
    line-height: normal;
    text-align: center;
  }
  
  #zen-resources {
    text-align: center;
  }
  
  footer {
    height: auto;
    background: linear-gradient(#bdbdbd, #f6efe5);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0;
  }
  
  footer a {
    text-align: center;
    display: inline-block;
    background-color: #000;
    color: #fff;
    margin: 0 9px 75px;;
    padding: 10px;
  }
}

@media all and (min-width:400px) and (max-width:700px) {
  .sidebar {
    margin-left: 70%;
  }
  
  #zen-supporting {
    margin: 0 5% 25px;
  }
  
  section#zen-intro {
    margin: 0 5% 0;
  }
  
  #zen-preamble {
    padding: 25px 25px;
  }
}

@media all and (min-width:700px) and (max-width:1000px) {
  .sidebar {
    margin-left: 75%;
  }
  
  #zen-supporting {
    margin: 0 8% 25px;
  }
  
  section#zen-intro {
    margin: 0 8% 0;  
  }
  
  #zen-preamble {
    padding: 25px 25px;
  }
}